extends layout


block header
    //- include includes/header


block content
    .content
        .desktop
            .row
                .column-12
                    #desktopContent
        .mobile
            #mobileContent
